form{
    padding: 0 1rem;
    width: 38%;
}

form label {
    display: block;
    margin: 1rem 0;
}

form input {
    width: 100%;
}

form input[type=submit]{
    height: 2rem;
    width: 25%;
    min-width: 70px;
    text-align: center;
}